@model RulesAndModels.Models.People

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<div class="text-left">
    <p>
        NRules is configured for this app.
        <br />
        Type or paste a rule in this box below and then press tab. 
        <br />
        Without pressing tab, the button may not be enabled and you will not be able to invoke the rule.
        <br />
        As an example you can try pasting the following.
        <br />
        Begin -------------------------------
        <br />
        // This is a valid comment and is a part of rule text. This line is not parsed by the rule engine.
        <br /><br />
        using RulesAndModels.Models;
        <br /><br />
        rule "Male Person Rule"
        <br /><br />
        when
        <br />
        var person = Person(x => x.IsMale);
        <br /><br />
        then
        <br />
        Console.WriteLine("Male person name is " + person.Name);
        <br /><br />
        End -------------------------------
        <br />
        To run this sample, you need to lauch this app with the NR1003009DynamicNRules profile and not IIS Express.
        <br />
        This starts a console as well along with the application. This is needed because the above rule writes info to Console.
        <br />
        <textarea id="nRulesTextArea" rows="5" cols="100"></textarea>
        <br />
        <button id="textAreaButton" class="btn btn-primary" onclick="PostTheRuleToServer()">Apply the Rule</button>
    </p>

</div>

@section scripts
{
    <script type="text/javascript">

        $("#textAreaButton").attr("disabled", true);

        $(document).ready(function () {

            $("#nRulesTextArea").on("keydown", function () {
                if ($("#nRulesTextArea").val().length > 1) {
                    $("#textAreaButton").attr("disabled", false);
                    return;
                }
                $("#textAreaButton").attr("disabled", true);
            })
        });

    function PostTheRuleToServer() {

        var ruleString = $("#nRulesTextArea").val();

        if (ruleString.length == 0)
            return;

        var data = { RuleString: ruleString };
        var getWorkflowDetailsUrl = "api/DynamicNRules/ProcessTextRule"
        $.ajax({
            type: "POST",
            url: getWorkflowDetailsUrl,
            data: JSON.stringify(data),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (msg) {
                //var temp = JSON.parse(msg);
                //alert(JSON.stringify(msg));
                //alert(msg.foo);
                //alert(msg.bar);
                //alert(msg.quz);
            },
            error: function (req, status, error) {
                alert(error);
            }
        });
    }

    </script>
}